<!--<<p>
info-panel works!
</p>

<button class="btn btn-primary">hello</button>>-->
<div class="infoPanel">
  <!--<img src="assets/images/daisy.jpg" alt = "profile picture" />-->
  <img
    src="https://cdn.jsdelivr.net/gh/terra819/angular-stackblitz-static-image@master/src/Picture1.png"
    class="profilePic"
  />
  <h4>Daisy Murphy</h4>
  <label class="designation"> UI/UX Designer</label>
  <div class="social-btns">
    <a class="btn facebook" href="#"
      ><i class="fa fa-facebook" aria-hidden="true"></i
    ></a>
    <a class="btn twitter" href="#"
      ><i class="fa fa-twitter" aria-hidden="true"></i
    ></a>
    <a class="btn linkedin" href="#"
      ><i class="fa fa-linkedin" aria-hidden="true"></i
    ></a>
    <a class="btn dribbble" href="#"
      ><i class="fa fa-dribbble" aria-hidden="true"></i
    ></a>
    <a class="btn github" href="#"
      ><i class="fa fa-github" aria-hidden="true"></i
    ></a>
  </div>
  <div class="personalInfo">
    <h6>PERSONAL INFORMATION</h6>
    <div>BIRTHDAY : 15 April 1990</div>
    <div>WEBSITE : www.example.com</div>
    <div>PHONE : +1 123 000 4444</div>
    <div>MAIL : your@example.com</div>
    <div>Location : California, USA</div>
  </div>
  <button class="downloadBtn">
    <i class="fa fa-download"></i> Download CV
  </button>
  <div class="languages">
    <h6>LANGUAGES</h6>
    <div>English : native</div>
    <div>Spanish : fluent</div>
    <div>Italian : fluent</div>
  </div>
  <div class="interests">
    <h6>INTERESTS</h6>
    <div>Video Games</div>
    <div>Finance</div>
    <div>Basketball</div>
    <div>Theatre</div>
  </div>
</div>
